html{
    background-color: black;
}

div{
    
    margin-top: 30%;
    align-content: center;
    
}
img{
    border: 10px solid white;
}
h1{
    color: white;
    font-family: 'Libre Baskerville',cursive;
    
}
h3{
    color: white;
    
}